// $dino-red: #d24735;
// $firefox-orange: #f26c23;
// $market-orange: #f89c24;
// $flame-yellow: #ffcd02;
// $gecko-green: #7dc14c;
// $summit-teal: #3bba99;
// $mobile-blue: #16afe5;
// $developer-blue: #4383bf;
// $nightly-blue: #5a6ba4;
// $aurora-purple: #ab5da4;
// $bikeshed-magenta: #e14164;
$brand-primary:             $dino-red;
$brand-success:             $summit-teal;
$brand-info:                $flame-yellow;
$brand-warning:             $bikeshed-magenta;
$brand-danger:              $aurora-purple;
$brand-inverse:             $developer-blue;